name: deltastore
description: A new Flutter project.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_application_id: ^1.0.0
  rename: ^1.2.0
  direct_select: ^1.0.3
  ff_navigation_bar: ^0.1.5
  url_launcher: ^5.7.10
  flutter_session:
  commons: ^0.7.8+3
  firebase_database: ^4.4.0
  flutter_spinkit: ^4.1.2
#  flutter_thailand_provinces: 1.0.1
  fluttertoast: ^7.1.6
  flutter_html: ^1.2.0
  flutter_widget_from_html_core: ^0.5.1+4
  google_maps_flutter: ^1.1.1
  geolocator: ^6.1.14
  image_picker: ^0.6.7+21
  validators: ^2.0.0
  share: ^0.6.2+3
  http:
  smart_select: ^4.3.2
  flutter_local_notifications: ^4.0.1
  vibration: ^1.7.3
  path_provider: 0.5.0+1
  file_picker: ^2.1.7
  multi_image_picker: ^4.7.15



  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_launcher_icons: ^0.8.0

flutter_icons:
  android: true
  ios: true
  image_path_ios: "assets/images/login_logo.png"
  image_path_android: "assets/images/login_logo.png"

flutter_application_id:
  android:
    id: "co.deltafood.deltashop"
    name: "Delta Store"
#เปลี่ยนเป็น store
  ios:
    id: "co.deltafood.deltashop"
    name: "Delta Store"

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
  fonts:
    - family: Kanit
      fonts:
        - asset: assets/fonts/Kanit/Kanit-Light.ttf
        - asset: assets/fonts/Kanit/Kanit-LightItalic.ttf

  assets:
    - assets/images/logo.jpg
    - assets/images/login_logo.png
    - assets/images/food2.jpg
    - assets/images/location-pin.png
    - assets/images/location-pin1.png
    - assets/images/location-pin2.png
    - assets/images/user.png
#    - assets/images/photo.png
